<!DOCTYPE html>
<html>
<head>
    <title>Plots</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Plots</h1>
        <div class="mt-4">
            <div class="mb-4">{{ plot1|safe }}</div>
            <div class="mb-4">{{ plot3|safe }}</div>
            <div class="mb-4">{{ plot4|safe }}</div>
            <div class="mb-4">{{ plot5|safe }}</div>
        </div>
    </div>
</body>
</html>
